<%- include('../../layouts/admin-top.ejs') %>

<form action="/admin/article/<%= article.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT" />
  <div class="p-4">
    <label>Title</label>
    <input type="text" name="title" value="<%= article.title %>" />
  </div>

  <div class="p-4">
    <label>Text</label>
    <textarea name="text"><%= article.text %></textarea>
  </div>
  <div class="p-4">
    <button
      class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md"
      type="submit"
    >
      Save
    </button>
  </div>
</form>

<%- include('../../layouts/admin-bottom.ejs') %>
