<%- include('../../layouts/admin-top.ejs') %>

<div>
  <div class="flex py-2 gap-4 items-baseline">
    <div class="text-sm">ID</div>
    <div class="text-lg font-bold"><%= article.id %></div>
  </div>
  <div class="flex py-2 gap-4 items-baseline">
    <div class="text-sm">Text</div>
    <div class="text-lg font-bold"><%= article.text %></div>
  </div>
  <div class="flex py-2 gap-4 items-baseline">
    <div class="text-sm">Author</div>
    <div class="text-lg font-bold"><%= article.user.username %></div>
  </div>
</div>

<div class="flex flex-col">
  <a href="/admin/article">Back to list</a>
  <a href="/admin/article/<%= article.id %>/edit">Edit</a>
  <%- include('./delete-form.ejs', {article}) %>
</div>

<%- include('../../layouts/admin-bottom.ejs') %>
